/*
Auteur : Samuel Compagon / Justin Louazel
Derniere modif : 31/02/2016

Feuille de style du launcher au lancmement du jeu.
 */

.background{
	/*-fx-background-image : url("resources/wallp.png");*/
	/*-fx-background-color : black ;*/
	
	}
.label_textfield{
	-fx-font-size : 25px ;
	
	}
.button {
    -fx-background-color: #5EB6DD;
    -fx-border: none;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
}
